/* Custom Styles */
body {
  -webkit-tap-highlight-color: transparent;
}

input[type=range] {
  height: 6px;
  border-radius: 5px;
}

button, a {
  user-select: none;
}

button:active, a:active {
  transform: scale(0.98);
}
